---
import Layout from '../../layouts/Layout.astro';
---

<Layout title="LordNikon is a nerd">
    <main>
        <h2>Authentication Failed</h2>
        <img src="https://media.giphy.com/media/3ohzdYt5HYinIx13ji/giphy.gif" alt="unauthorized" />
    </main>
</Layout>

<style>
    
</style>
