---
import Layout from '../../layouts/Layout.astro';
---

<Layout title="LordNikon is a nerd">
    <main>
        <h2>Authentication Failed</h2>
        <img src="https://media.giphy.com/media/3ohzdYt5HYinIx13ji/giphy.gif" alt="unauthorized" />
    </main>
</Layout>

<style>
    h1 {
        font-size: 3rem;
        font-weight: 700;
        margin: 0;
    }
    h2 {
        font-size: 2rem;
        font-weight: 700;
        margin: .5rem 0;
    }
    p {
        font-size: 1.5rem;
        font-weight: 400;
        margin: 0;
    }
    .text-gradient {
        background-image: var(--accent-gradient);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-size: 400%;
        background-position: 0%;
    }
    .bio {
        margin-bottom: 1rem;
    }
</style>
