---
import Layout from '../../layouts/Layout.astro';
---

<Layout title="LordNikon is a nerd">
    <main>
        <h2>Access Granted =]</h2>
        <img src="https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExZWNhNzJmNThiZjQ0ZjM5MjZkNGI1NTNkNGNjMjdiZDIzMTk5YmI2NiZjdD1n/LzqKqSr1rs5Hi/giphy.gif" alt="unauthorized" />
    </main>
</Layout>

<style>
    
</style>
