---
import Layout from '../layouts/Layout.astro';
---

<Layout title="404 system malfunction">
    <main>
        <h2>404 system malfunction</h2>
        <p>the page you are looking for is not here</p>
        <img src="https://media.giphy.com/media/8c9NInMpXixMjR6lTH/giphy.gif" alt="sponge bob" />
    </main>
</Layout>
