---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<h1>Welcome!</h1>
		<h2>This project is to explore the World of Warcraft API throug a GraphQL wrapper.</h2>
		<a href="https://develop.battle.net/access/clients">Battle.net API Access</a>
		<br>
		<a href="https://github.com/vmroycroft/wowql">Github repo for wowql</a>
	</main>
</Layout>

<style>
	
</style>
